@charset “utf-8”;

    table {
      border-collapse: collapse;
    }
    td {
      border: 1px solid black;
    }
    .noborder {
      border: 0px none;
    }


.container {
                        /* Center the content */
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        /* Take full size */
                        height: 100vh;
                        width: 100%;

                        /* Background */
                        background: url('/full-background.jpeg') center center / cover no-repeat;
                    }